<div id="game">
  <!-- players section -->
  <div id="players">
    <ul>
      {{#each players}}
        <li>
          <span>{{this.username}}</span>
          
            {{#if this.ready}} 
              <span class="ready">Ready</span>
            {{else}}
              <span class="notready">Not Ready</span>
            {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
  <!-- players section end -->
  
  <div id="ready-form">
    <button id="ready-button">Ready</button>
  </div>

  <!-- timer section -->
  <div id="timer"></div>
  <!-- timer section end -->
  <input type="text" id="numberfield" value="" placeholder="" disabled="{{disabled}}"></input>
  <button id="send-button"></button> 
  <!-- Animals -->
  <div id="farm">
    
  </div>
</div>
