<div id="game">
  <!-- players section -->

  <div id="players">
    <ul>
      {{#each players}}
        <li>
          <span>{{this.username}}</span>
          
            {{#if this.ready}} 
              <span class="ready">Ready</span>
            {{else}}
              <span class="notready">Not Ready</span>
            {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
  <!-- players section end -->
  <div id="play-section">
    <div id="ready-form">
      <a class="button" href="#" id="ready-button">Ready</a>
    </div>

    <input type="text" autofocus="true" id="numberfield">
    </input> 
    <!-- Animals -->
    <div id="farm">
      {{#each bulls}}
        <img src="images/bull.png" width="128" height="128"></img>
      {{/each}}

      {{#each cows}}
         <img src="images/cow.png" width="128" height="128"></img>
      {{/each}}

    </div>
  </div>
</div>
