body {  
  background-color: #ccc;
}



#content {
}

#menu {
  margin-top: 100px;
}

#menu ul {
  list-style: none;
}

#menu li {
  margin-bottom: 20px;
}

#players {
  margin-top: 80px;
}

#timer {
  margin-top: 80px;
  font-size: 38px;
}

#timer .timer-text {
  margin-left: 40px;
}

#game {
}
